<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      
      throwConfigExceptions="true">

    <!-- enable asp.net core layout renderers -->
    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
        <target  name="logDatabase"
                 xsi:type="Database"
                 dbProvider="Npgsql.NpgsqlConnection, Npgsql"
                 connectionString="User ID=nahageixgwxfnl;Password=a166c28381eb09c7e144be5bc8225a5b4c9c310677923829b196c63ff93c3761;Host=ec2-52-214-178-113.eu-west-1.compute.amazonaws.com;Port=5432;Database=d3hftda68mlok7;SSL Mode=Require;Trust Server Certificate=true"
                 keepConnection="true"
                 commandText="INSERT INTO &quot;Logs&quot; (&quot;Date&quot;,&quot;Level&quot;,&quot;Message&quot;,&quot;Exception&quot;,&quot;Stacktrace&quot;) 
            VALUES(CAST(@time_stamp AS timestamp),@level,@message,@log_exception,@stacktrace);"
        >
            <parameter name="@time_stamp" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="${message}" />
            <parameter name="@log_exception" layout="${exception}" />
            <parameter name="@stacktrace" layout="${stacktrace}" />
        </target>
    </targets>
    <rules>
        <logger name="*" minlevel="Warn" writeTo="logDatabase" />

        <!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
        <logger name="Microsoft.*" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
    </rules>
</nlog>